*.o
*.cmd
*.symvers
*.order
*.mod
*.mod.c
*.ko
*.dwo

section-pointers
test-musl-malloc

read-pageflags/map-private
read-pageflags/read
read-pageflags/test2.txt
read-pageflags/write-test
read-pageflags/readahead

pagestat/example
pagestat/pagestat
pagestat/pagestat-watch

mad/mad

random/alloc_big
random/copy_short
random/file_rmap
random/file_rmap2
random/fork_shared_anon
random/forky
random/forky2
random/hugetlb
random/hugetlb2
random/hugetlb3
random/map_shared
random/mbind-repro
random/mem
random/mem_client
random/memfd_anon_remove
random/memfd_repro
random/merge_cases
random/merge_split
random/mergey
random/mlock
random/mmap
random/mmap_simple
random/mmap_simple_file
random/mmap_simple_fixed
random/mmap_simple_private_file
random/modify
random/mprotect
random/mremap
random/mremap_repro
random/munmap
random/noreserve
random/oom
random/overwrite
random/pagemap_tour
random/private
random/private2
random/punch
random/punch_anon
random/random
random/random_unmap
random/readwritefile
random/remap
random/rlimit
random/rpm
random/rss
random/scan
random/shared_rss
random/split_vma
ranodom/rlimit
random/stack
random/thp

random/uring
random/vma
random/vma_merge_repro

random/guard_mlock
random/hugetlb_repro
random/mremap_unmap
random/start_end_repro
random/guard
random/procmap
random/mprotect_shrinking

random/mremap_bench

repros/binder_repro
repros/repro
repros/repro2
repros/repro3
repros/repro4
repros/repro_split
repros/repro_split2
repros/repro_stack
repros/repro_hugetlb_uffd

shmem/fork/shmem_fork
shmem/memfd/shmem_memfd_client
shmem/memfd/shmem_memfd_server
shmem/posix/posix_shmem_client
shmem/posix/posix_shmem_server
shmem/sysv/shmem_sysv_client
shmem/sysv/shmem_sysv_server

tools/vm_flags
tools/big_dirty

userfaultfd/client
userfaultfd/server
userfaultfd/simple

concepts/fault_around/fault_around

simple/read

socket/server
socket/client

block_exper/block_vs_file

prodigy/prodigy
