*.o

section-pointers
test-musl-malloc

read-pageflags/read
read-pageflags/map-private
read-pageflags/test2.txt
read-pageflags/write-test

pagestat/example
pagestat/pagestat
pagestat/pagestat-watch

kernel/**/*.ko
kernel/**/*.dwo

random/split_vma
random/merge_split
random/file_rmap
random/file_rmap2
random/forky
random/forky2
random/hugetlb
random/modify
random/memfd_repro
random/mremap
random/mremap_repro
random/private
random/punch
random/readwritefile
random/remap
random/rpm
random/vma
random/map_shared
random/uring

tools/vm_flags

userfaultfd/client
userfaultfd/server
userfaultfd/simple

concepts/fault_around/fault_around
