*.o
*.cmd
*.symvers
*.order
*.mod
*.mod.c
*.ko
*.dwo

section-pointers
test-musl-malloc

read-pageflags/read
read-pageflags/map-private
read-pageflags/test2.txt
read-pageflags/write-test

pagestat/example
pagestat/pagestat
pagestat/pagestat-watch

mad/mad

random/split_vma
random/merge_split
random/copy_short
random/file_rmap
random/file_rmap2
random/fork_shared_anon
random/forky
random/forky2
random/hugetlb
random/modify
random/mbind-repro
random/mem
random/mem_client
random/memfd_anon_remove
random/memfd_repro
random/mergey
random/mmap
random/mmap_simple
random/mmap_simple_file
random/mmap_simple_private_file
random/mmap_simple_fixed
random/mprotect
random/mremap
random/mremap_repro
random/munmap
random/noreserve
random/oom
random/overwrite
random/pagemap_tour
random/private
random/private2
random/punch
random/punch_anon
random/readwritefile
random/remap
random/rpm
random/rss
random/stack
random/vma
random/map_shared
random/uring
random/vma_merge_repro

shmem/fork/shmem_fork
shmem/sysv/shmem_sysv_client
shmem/sysv/shmem_sysv_server
shmem/posix/posix_shmem_client
shmem/posix/posix_shmem_server
shmem/memfd/shmem_memfd_client
shmem/memfd/shmem_memfd_server

tools/vm_flags

userfaultfd/client
userfaultfd/server
userfaultfd/simple

concepts/fault_around/fault_around

simple/read
